- include_tasks: vscode_dnf.yml
  when: pm_dnf.rc == 0

- include_tasks: vscode_apt.yml
  when: pm_apt.rc == 0

- include_tasks: vscode_apt.yml
  when: pm_dnf.rc != 0 and pm_yum.rc == 0

- name: install software
  become: yes
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - git
    - kdiff3
    - openssh-client
    - code

#- name: generate ssh keys
#  openssh_keypair:
#    path: ~/.ssh/id_rsa

- name: generate ssh keys
  shell: ssh-keygen -t rsa -f ~/.ssh/id_rsa -b 4096
  args:
    creates: ~/.ssh/id_rsa

- name: add vscode extensions
  shell: "code --install-extension {{ item }}"
  with_items:
    - redhat.java
    - ms-python.python
    - eamodio.gitlens
    - peterjausovec.vscode-docker
    - redhat.vscode-yaml
    - davidanson.vscode-markdownlint
    - james-yu.latex-workshop
    - dotjoshjohnson.xml

- name: configure git
  git_config:
    name: "{{ item.name }}"
    scope: global
    value: "{{ item.value }}"
  with_items:
    - { name: 'credential.helper', value: 'cache' }
    - { name: 'user.name', value: "{{ git_fullName }}" }
    - { name: 'user.email', value: "{{ git_email }}" }
    - { name: 'merge.tool', value: 'kdiff3' }
    - { name: 'mergetool.kdiff3.path', value: '/usr/bin/kdiff3' }
    - { name: 'mergetool.kdiff3.trustExitCode', value: 'false' }
    - { name: 'diff.guitool', value: 'kdiff3' }
    - { name: 'difftool.kdiff3.path', value: '/usr/bin/kdiff3' }
    - { name: 'difftool.kdiff3.trustExitCode', value: 'false' }
    - { name: 'alias.pl', value: 'pull' }
    - { name: 'alias.fe', value: 'fetch' }
    - { name: 'alias.ps', value: 'push' }
    - { name: 'alias.co', value: 'checkout' }
    - { name: 'alias.s', value: 'status' }
    - { name: 'alias.cl', value: 'clean -dfq' }
    - { name: 'alias.re', value: 'reset --hard HEAD' }
    - { name: 'fetch.prune', value: 'true' }
