- name: check if raspbian
  shell: cat /etc/os-release | grep 'ID=raspbian'
  register: os_raspbian
  failed_when: no
  changed_when: no

- name: perform Raspbian tasks
  block:

  - debug:
      msg: Raspian detected

  - include_tasks: Raspbian.yml

  when: os_raspbian.rc == 0

- name: "perform Debian tasks"
  block:

  - debug:
      msg: Debian detected

  - name: install keyrings
    become: yes
    package:
      name: "{{ item }}"
      state: latest
    with_items:
      - debian-keyring
      - debian-archive-keyring

  - name: add repositories
    become: yes
    apt_repository:
      repo: "{{ item }}"
      state: present
    with_items:
      - "deb http://deb.debian.org/debian/ {{ ansible_distribution_release }} main contrib non-free"
      - "deb http://deb.debian.org/debian/ {{ ansible_distribution_release }}-updates main contrib non-free"
      - "deb http://deb.debian.org/debian {{ ansible_distribution_release }}-backports main contrib"
      - "deb http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib non-free"

  when: os_raspbian.rc == 1