- include_tasks: "{{ ansible_distribution }}.yml"

- include_tasks: "{{ ansible_pkg_mgr }}.yml"

- name: install basic packages
  become: yes
  package:
    name: "{{ item }}"
    state: latest
  with_items:
    - "*"
    - htop
    - nano
    - curl
    - wget
    - screen
    - jq
    - cifs-utils
