- name: "perform Debian tasks"
  block:

  - name: install keyrings
    become: yes
    package:
      name: "{{ item }}"
      state: latest
    with_items:
      - debian-keyring
      - debian-archive-keyring

  - name: add repositories
    become: yes
    apt_repository:
      repo: "{{ item }}"
      state: present
    with_items:
      - "deb https://www.deb-multimedia.org {{ ansible_distribution_release }} main non-free"

  when: os_raspbian.rc != 0