- name: install software
  become: yes
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - gimp
    - spectacle
    - vlc
    - youtube-dl
    - kdenlive

- name: update youtube-dl -U
  command: youtube-dl -U
