- name: uninstall old versions
  become: yes
  package:
    name: "{{ item }}"
    state: absent
  with_items:
    - docker
    - docker-ce
    - docker-common
    - container-selinux
    - docker-selinux
    - docker-engine

- include_tasks: "{{ ansible_distribution }}.yml"

- name: ensure /etc/docker exists
  become: yes
  file:
    path: /etc/docker
    state: directory
    mode: a+r

- name: ensure group docker exists
  become: yes
  group:
    name: docker
    state: present

- name: add user to docker group
  become: yes
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

- name: start docker service
  become: yes
  service:
    name: docker
    state: restarted
    enabled: yes
