- name: install software
  become: yes
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - openssh-server

- name: generate ssh keys
  openssh_keypair:
    path: ~/.ssh/id_rsa
    state: present
    size: 4096
    type: rsa
    force: no

- name: Set authorized key taken from file
  authorized_key:
    user: "{{ ansible_user }}"
    state: present
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

- name: Set authorized keys
  authorized_key:
    user: "{{ ansible_user }}"
    state: present
    key: "{{ item }}"
  with_items: "{{ ssh_keys }}"

- name: disable root login
  become: yes
  lineinfile:
    path: /etc/ssh/sshd_config
    regex: ^PermitRootLogin
    line: PermitRootLogin no

- name: disable password login
  become: yes
  lineinfile:
    path: /etc/ssh/sshd_config
    regex: ^PasswordAuthentication
    line: PasswordAuthentication no

- name: enable & restart sshd
  become: yes
  service:
    name: "{{ item }}"
    enabled: yes
    state: started
  with_items:
    - ssh
    - sshd
  ignore_errors: yes
